extends layout

block content
  h1 How are your feeling?
  div.feelings 
    a.good(href="#") 🤩
    a.bad(href="#") 😕
  script(src='/javascripts/app.js')

  h1 Update the scoreboard of the Premier League
  Label.choice Choose team
   br
   Select.dropdown
    option.manU Manchester United
    option.manC Manchester City
    option.liv Liverpool 
    option.che Chelsea 
    option.lei Leicester City

  br
  div.updateScore
    label.input Update the score
    input 

  br
  button.button Submit  

  body.body





      
  