extends layout

block content
  h1 Current vibe
  div.feelings 
    a.good(href="#") 🤩
    a.bad(href="#") 😕
  script(src='/javascripts/app.js')

  h1.h1Live Live scoreboard of the Premier league
  img.header(src="../images/PL2.png")
  table(style='width:100%', border='1').table
    tr
      th Position
      th Team
      th Points
    tr
      td 1
      td Manchester City
      td 19
    tr
      td 2
      td Liverpool
      td 18
    tr
      td 3
      td Chelsea
      td 13
    tr
      td 4
      td Leicester City
      td 11
    tr
      td 5
      td Manchester United
      td 5  

   body.body
