body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.feelings{
  font-size: 4em;
}

.feelings a{
  text-decoration: none;
  margin: 0.5em;
}

.dropdown{
  margin-top: 10px;


}

.updateScore{
  margin-top: 10px;

}
.input{
  margin-right: 10px;
}

.button{
}

.table{
  border:1px solid white;
  background-color: #37003D;
  color: white;
}

.header{
  width: 80%;
  justify-content: center;
  margin-bottom: 30px;
}

td{
  text-align: center;
}

.body{
  background-color: #78B833;
}

.h1Live{
  color:white;
}